### Source: WP .htaccess Boilerplate - https://github.com/Creare/WP-htaccess/

### Security

# Recognise SSL when set at a load balancer/proxy level (for CloudFlare)
SetEnvIf X-Forwarded-Proto https HTTPS=on

# Prevent wp-config.php from being loaded:
<Files wp-config.php>
    order allow,deny
    deny from all
</Files>

# Prevent this .htaccess from being accessed:
<Files .htaccess>
    order allow,deny
    deny from all
</Files>

# Secure wp-includes
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^wp-admin/includes/ - [F,L]
  RewriteRule !^wp-includes/ - [S=3]
  RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
  RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
  RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

# Prevent directory browsing
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

# Disable HTTP Trace
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} ^TRACE
  RewriteRule .* - [F]
</IfModule>

# Block access to hidden files & directories
<IfModule mod_rewrite.c>
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule "(^|/)\." - [F]
</IfModule>


# SSL Rewrite
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>

# SQL Injection Protection
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
  RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
  RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
  RewriteRule ^(.*)$ index.php [F,L]
</IfModule>


### Speed & Compression

# Expire headers  
<IfModule mod_expires.c>  
  ExpiresActive On
  ExpiresDefault "access plus 1 week"
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 month" 
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/html "access plus 1 minute"
  ExpiresByType text/plain "access plus 1 month"
  ExpiresByType text/x-component "access plus 1 month" 
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 months"
  ExpiresByType application/x-javascript "access plus 1 months"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType application/json "access plus 0 seconds"
  ExpiresByType application/ld+json "access plus 0 seconds"
  ExpiresByType application/xml "access plus 0 seconds"
  ExpiresByType text/xml "access plus 0 seconds" 
  ExpiresByType application/x-web-app-manifest+json "access plus 0 seconds" 
  ExpiresByType text/cache-manifest "access plus 0 seconds" 
  ExpiresByType audio/ogg "access plus 1 month" 
  ExpiresByType video/mp4 "access plus 1 month" 
  ExpiresByType video/ogg "access plus 1 month" 
  ExpiresByType video/webm "access plus 1 month" 
  ExpiresByType application/atom+xml "access plus 1 hour" 
  ExpiresByType application/rss+xml "access plus 1 hour" 
  ExpiresByType application/font-woff "access plus 1 month" 
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month" 
  ExpiresByType application/x-font-ttf "access plus 1 month" 
  ExpiresByType font/opentype "access plus 1 month" 
</IfModule>

# Cache-Control Headers
<IfModule mod_headers.c>  
    <FilesMatch "\.(ico|jpe?g|png|gif|swf)$">  
        Header set Cache-Control "public"  
    </FilesMatch>  
    <FilesMatch "\.(css)$">  
        Header set Cache-Control "public"  
    </FilesMatch>  
    <FilesMatch "\.(js)$">  
        Header set Cache-Control "private"  
    </FilesMatch>  
    <FilesMatch "\.(x?html?|php)$">  
        Header set Cache-Control "private, must-revalidate"  
    </FilesMatch>
</IfModule>  

# mod_deflate
<IfModule mod_deflate.c> 
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/vtt 
  AddOutputFilterByType DEFLATE text/x-component
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/js
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/x-httpd-php
  AddOutputFilterByType DEFLATE application/x-httpd-fastphp
  AddOutputFilterByType DEFLATE application/atom+xml 
  AddOutputFilterByType DEFLATE application/json
  AddOutputFilterByType DEFLATE application/ld+json 
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject 
  AddOutputFilterByType DEFLATE application/x-font-ttf 
  AddOutputFilterByType DEFLATE application/x-web-app-manifest+json 
  AddOutputFilterByType DEFLATE font/opentype 
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon

  SetEnvIfNoCase REQUEST_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

  <IfModule mod_headers.c>
    Header append Vary User-Agent env=!dont-vary
  </IfModule>
</IfModule>

# Remove the ETag header
<IfModule mod_expires.c> 
  <IfModule mod_headers.c> 
    Header unset ETag 
  </IfModule> 
  FileETag None 
</IfModule>


### File Format Support

# Add support for SVG and HTC
AddType image/svg+xml svg svgz
AddEncoding gzip svgz
AddType text/x-component .htc


# Manual 301 Redirects (please fill out)
# redirect 301 /old-page-url.html https://www.domain.co.uk/new-page-url


### Default Wordpress Settings

# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>

# END WordPress
